.aboutumt{

    background-color: black;
    color:rgb(221, 220, 220);
    text-align: center;
    text-decoration: none;
   margin-top: 60px;
    
}

.aboutumt p span{

    color: white;
    text-decoration: underline;
}

.aboutumt p {
padding: 10px;

}